body {
  background-color: black;
}

/* GLOBAL TAG CHANGES */
h1 {
  color: blue;
  text-align: center;
  color: white;
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
}
a {
  display: flex;
  justify-content: center;
  font-family: verdana;
  font-size: 16px;
  color: aquamarine;
}

/* VIDEOS CHANGES */
.video {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  align-items: center;
  width: 30%;
}

/* IMAGES CHANGES */
.images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion h2 {
  font-family: verdana;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 42px;
}
.seccion p {
  color: gray;
  text-align: center;
  font-family: verdana;
  font-size: 21px;
}
.images img:first-child {
  width: 70%;
  align-self: center;
}
.images img:last-child {
  margin-top: 40px;
  width: 80px;
  align-self: center;
}

/* SECCION FOOTER */
.copyright {
  margin-top: 20px;
  color: gray;
  text-align: right;
  font-family: verdana;
  font-size: 10px;
}
